        @charset "utf-8";
        /* CSS Document */
        
        #contenedor {
            width: 1020px;
            height: 815px;
            border-style: groove;
            margin: auto;
        }
        /********************CABECERA************************/
        
        #cabecera {
            /**/
            height: 150px;
            width: 1014px;
            position: relative;
            /**/
            border-style: groove;
            /**/
            background: url(img/cabecera.jpg);
            background-repeat: repeat-x;
        }
        
        /*************LATERAL IZQUIERDO*******************************/
        
        #tituloLat {
            color:blue;
}
        
        #latIzq {
            background-color: white;
            width: 200px;
            margin-top: 2px;
            margin-bottom: 3px;
            height: 580px;
            position: relative;
            float: left;
            border-style: groove;
        }
        
        #latIzq ul {
            list-style: none;
            background-color: #E7F1F8;
            padding: 0;
        }
        
        #latIzq li a {
            height: 32px;
            voice-family: "\"}\"";
            margin: 3px;
            voice-family: inherit;
            height: 24px;
            text-decoration: none;
        }
        
        #latIzq li a:link,
        #latIzq li a:visited {
            display: block;
            background: url(Imagenes/menu10.gif);
            padding: 8px 0 0 10px;
        }
        
        #latIzq li a:hover {
            background: url(Imagenes/menu10.gif) 0 -32px;
            padding: 8px 0 0 10px;
        }
        /*++++++++++++CUERPO++++++++++++++++++++++++++++++++++++*/
        
        #cuerpo {
            background-color: #E7F1F8;
            width: 805px;
            height: 590px;
            float: left;
            position: relative;
            margin:3px;
            text-align: justify;
        }
        
        .imagenCuerpo {
            width: 171px;
            height: 152px;
            margin:3px;
            border: 1;
            float: left;
        }
        /*+++++++++++++++++PIE+++++++++++++++++++++++++++++*/
        
        #pie {
            margin: auto;
            height: 64px;
            width: 1014px;
            clear: both;
            border-style: groove;
            background-color: #CCC;
        }
        
        #pie p {
            text-align: center;
            color:white;
        }
        
        .imagenPie {
            float: left;
            width:50px;
            height:40px;
            margin-top: 4px;
            margin-left: 4px;
        }
        /*+++++++++++++++++++TIPOGRAFIAS++++++++++++++++++++++++++++++*/
        
body {
    background: url(img/logoufro.png);
            background-repeat: repeat;
}
        h1,
        p {
            color: grey;
            padding:5px;
        }
        
        li {
            color: blue;
        }
        
        .listLateral {
            border: 1px solid blue;
        }
        /*FUENTES*/
        
        #cuerpo {
            font-family: Arial, Helvetica, sans-serif;
        }
        
        #latIzq {
            font-family: "Times New Roman", Times, serif;
            font-weight: bold;
            font-style: italic;
        }
        
a {
    color:blue;
}